body {
    font-family: "Inter", Helvetica, Arial, sans-serif, Battambang;
}
div.invoice {
    height:297mm;
    width:210mm;
}
.container .title h1.en {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}
.container .sub-company-info,
.container .company-info {
    font-size: 12px;
    display: inline-block;
}
.container .invoice-info {
    border: solid 1px #E5E8EC;
    margin: 15px -16px;
}
.container .invoice-info .title-invoice {
    background-color: #E5E8EC;
}
.container .invoice-info .title-invoice h4 {
    text-transform: uppercase;
    font-weight: bold;
    padding: 13px;
    margin-bottom: 5px;
}
.container .invoice-info h5 label.en,
.container .customer-info .address label.lb-address {
    text-transform: uppercase;
}
.container .customer-info {
    margin-bottom: 15px;
    font-size: 12px;
}
.container .customer-info label.lb-customer {
    font-size: 14px;
}
.container .customer-info label.lb-customer span.en {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}
.container .customer-info label.lb-customer-name {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.container .tbl-item-lists table h6 {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.table tfoot tr.grand-total,
.container .tbl-item-lists table .thead-dark {
    background-color: #000;
    color: #fff;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border-top: 0;
    border-bottom: 0;
}
.table tfoot tr>td {
    padding: 0px 8px;
}
.table tfoot tr.grand-total>td {
    padding: 10px;
}
.table tfoot tr.grand-total label.total-text {
    width: 100%;
}
.table tfoot tr.grand-total label.total-text span.kh,
.table tfoot tr.grand-total .total-amount {
    font-size: 16px;
}
.table tfoot label.en,
.payment-info ul span.en,
.table tfoot tr.grand-total span.en,
.wing-info h6,
.qr-code-info .buyer label.en {
    text-transform: uppercase;
}
.table tfoot label.en {
    padding-left: 5px;
    font-size: 12px;
}
.payment-info ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}
.payment-info ul label {
    width: 30%;
}
.payment-info label {
    font-weight: normal;
}
.payment-info label.payment-method-en {
    font-size: 16px;
    font-weight: bold;
}
.payment-info ul span.en {
    padding-left: 5px;
}
.payment-info label.font-weight-bold {
    font-weight: bold;
}
.qr-code-info .qr-code {
    padding-left: 0px;
}
.qr-code-info .qr-code .khqr {
    border-radius: 5px;
    background-image: url(khqr.png);
    width: 150px;
    background-repeat: no-repeat;
}
.qr-code-info .qr-code .khqr img {
    padding: 25px 0px 5px 5px;
    height: 150px;
    width: 140px;
}
.qr-code-info .qr-code .khqr,
.qr-code-info .note {
    border: 1px solid #CCD1D9;
    border-radius: 5px;
}
.qr-code-info .note {
    margin-left: -30px;
}
.qr-code-info .note h5 {
    font-size: 16px;
    font-weight: bold;
}
.qr-code-info .note ul {
    padding-left: 20px;
}
.qr-code-info .buyer {
    min-height: 110px;
}
.qr-code-info .buyer,
.qr-code-info .seller {
    border-top: solid 1px #CCD1D9;
}
.qr-code-info .buyer label.kh, 
.qr-code-info .seller label.kh {
    font-weight: normal;
}
.qr-code-info .buyer label.en {
    font-size: 12px;
    font-weight: bold;
}
.wing-info {
    border-top: solid 1px #000;
    margin-top:15px;
}
.wing-info .logo {
    padding-top: 5px;
    padding-left: 0px;
}
.wing-info .wingmarket {
    padding-right: 0px;
}
.wing-info .wingmarket span {
    font-size: 10px;
}
.wing-info h6 {
    font-weight: bold;
}